@use "variables";

.menu-background {
    //background: variables.$color--background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}

.headerImage {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 275px;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -40px;
    border-radius: 25px 25px 0 0;
    width: 100%;
    background: variables.$color--background;
    gap: 40px;
    padding: 40px 0;
    height: calc(100% - 40px);
    max-width: 1080px;

    @media screen and (min-width: 768px) {
        align-items: center;
    }

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        @media screen and (min-width: 768px) {
            gap: 24px;
        }
        &-text {
            color: variables.$color--black;
            font-family: variables.$font--shrikhand;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-img {
            width: 22px;
            height: 21px;
            background: url(./../images/svg/heart.svg);
            transition: background 0.4s ease-in-out;

            &:hover {
                background: url(./../images/svg/heartFull.svg);
            }
        }
    }

    &__menus {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        max-width: 634px;
        &-line {
            width: 40px;
            height: 3px;
            background: #99e2d0;
            margin: 0 15px;
            margin-top: 6px;
        }

        & a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-title {
            color: variables.$color--black;
            font-family: variables.$font--roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            padding: 0 15px;
        }

        &-plates {
            height: 69px;
            width: calc(100% - 30px);
            max-width: 634px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 15.043px;
            background: variables.$color--white;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
            gap: 8px;
            margin: 0 15px;
            margin-top: 12px;
            
            &-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                width: calc(100% - 59px + 59px);
                
                &-title {
                    color: variables.$color--black;
                    font-family: variables.$font--roboto;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    padding-left: 15px;
                }

                &-infos {
                    display: flex;
                    width: calc(100% - 30px);
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 15px;

                    &-info {
                        color: variables.$color--black;
                        font-family: variables.$font--roboto;
                        font-size: 15.043px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    &-price {
                        color: variables.$color--black;
                        font-family: variables.$font--roboto;
                        font-size: 15.043px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                &:hover + .menu__menus-plates-selected {
                    transition: width 0.4s ease-in-out;
                    width: 59px;
                }

                &:hover + .menu__menus-plates-selected > i {
                    transition: opacity 260ms cubic-bezier(.63,.39,1,.61);
                    opacity: 1;
                }
            }

            &-selected {
                width: 0px;
                height: 100%;
                background: variables.$color--green;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 15.043px 15.043px 0;
                &-i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    color: white;
                }
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 186px;
            height: 50px;
            border-radius: 25px;
            color: variables.$color--white;
            background: variables.$gradient--button;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            border: none;
            text-align: center;
            font-family: variables.$font--roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: filter 0.3s ease-in-out;
            &:hover {
                filter: brightness(1.15);
            }
            
        }
    }
}
.rest {
    height: 63px !important;
}
