@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}
@import "header.scss";
@import "home.scss";
@import "howto.scss";
@import "homeRestaurant.scss";
@import "footer.scss";
@import "restaurant.scss";