$font--roboto: Roboto, sans-serif;
$font--shrikhand: Shrikhand, sans-serif;

$color--green: #99E2D0;
$color--green-font: #008766;
$color--blue: #89C8FA;
$color--blue-2: #003A68;
$color--prim: #9356DC;
$color--second: #FF79DA;
$color--third: #99E2D0;
$color--grey: #353535;
$color--grey-2: #EAEAEA;
$color--grey-3: #7E7E7E;
$color--white: #FFFFFF;
$color--black: #000000;
$color--background: #F6F6F6;